#documents-page {
  max-width: 1000px;
  margin: 0 auto;
  div.card div.card-header p.card-header-title {
    text-align: center !important;
    font-size: 1.2rem;
  }
  .card-image {
    .react-pdf__Document {
      canvas {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  .masonry {
    grid-auto-flow: row;
    columns: 3;
    column-gap: 20px;
    padding: 20px;
    @include media("<desktop") {
      columns: 2;
    }
    @include media("<tablet") {
      columns: 1;
    }
  }
  .item {
    display: inline-block;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
  }
}
