#main-content {
  // background: hsl(0, 0%, 96%);
  margin-left: 40vw;
  width: 50vw;
  .top-wrapper {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  //   centers PDF itself
  #pdf > div > div > canvas {
    margin: 0 auto;
    border: 1px solid hsl(0, 0%, 92%);
  }
}
