#sidebar {
  width: 40vw;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  bottom: 0;
  padding: 1rem;
  .sidebar-wrapper {
    display: flex;
  }
  .left-side {
  }
  .right-side {
    height: 88vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #search-box-results {
    padding: 0;
  }
}
