.snippet {
  margin-top: 1rem;
  .level {
    width: 100%;
    small {
      margin-right: 1rem;
    }
  }
  .card-content {
    padding-top: 0.5rem;
    p {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      em {
        background: $highlight-color;
        padding: 0 0.25rem;
      }
    }
  }
  .card {
    transition: all 0.2s ease;
    &:hover {
      background: hsl(0, 0%, 98%);
    }
  }
}
