@import "./variables";
@import "../../node_modules/bulma/css/bulma.css";
@import "./include-media";
@import "./spacing";
@import "./sidebar";
@import "./snippet";
@import "./main-content";
@import "./documents-page";
@import "./single-document-page";

.skeleton {
  animation: loading 1s infinite alternate;
  width: 100%;
  overflow: hidden;
  height: 0;
  padding-top: 120%;
}

@keyframes loading {
  from {
    background-color: #b8b3b3;
  }
  to {
    background-color: hsl(0, 5%, 78%);
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

#app {
  #page-wrapper {
    min-height: 100vh;
  }
}
#top-nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid black;
}

.main-content-margin {
  margin-left: 40vw;
}
